<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension 
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="tutorial.java3D.startvis">
            <visibleWhen>
               <with
                     variable="selection">
                  <count value="1"/>
                  <iterate>
                     <adapt
                           type="geometry.petri.geometry.Line">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="tutorial.java3D.startvis"
            description="Start 3D Visualisation from line"
            defaultHandler="dk.dtu.compute.se2.tutorial.handler.StartAnimationHandler"
            name="Start 3D Vis from Line">
      </command>
   </extension>

</plugin>
